//Resets
html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    
    body {
        max-width: 100% !important;
        overflow-x: hidden;
        font-family: 'Montserrat', sans-serif !important;
        margin: 0%;
        background-color: #efefef;
    }
}

//Vars
$Color-bg-primary: #364552;
$Color-bg-secundary: #efefef;
$Color-white:#ffffff;